body{
    margin:0;
    font-family: Arial,sans-serif;
    color:blue;
}
.header-section{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 10px 10%;
    background-color: #333;
    color: white;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links li a : hover{
   text-decoration: underline;
    color: #ff6b81; 
}

.cta-button {
    background-color: #ff4757;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.cta-button:hover {
    background-color: #ff6b81;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}


.my-biography {
    background-color: #ffffff;
    padding: 40px;        
    margin: 20px auto;   
    width: 80%;
    border-radius: 10px;
}


.sidebar {
    background-color: #2ecc71;
    color: white;
    padding: 30px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}


.footer-section {
    background-color: #111;
    color: #aaa;
    padding: 30px;
    text-align: center;
    font-size: 12px;
}